
<div class="col-lg-6">
    <nb-card>
        <nb-card-header>Cadastro de Fornecedores</nb-card-header>
        <nb-card-body>
<form [formGroup]="supplierForm" (submit)="onSubmit()">
    <input formControlName="Nome" type="text" nbInput fullWidth placeholder="Nome">
    <input formControlName="CNPJ" type="text" nbInput fullWidth placeholder="CNPJ">
    <input formControlName="razao_social" type="text" nbInput fullWidth placeholder="Razão Social">

    <!-- <div formArrayName="endereco" *ngFor="let endereco of supplierForm.get('endereco').controls; let i = index">
        <div [formGroupName]="i">
            <input formControlName="logradouro" type="text" nbInput fullWidth placeholder="Endereço">
           
        </div>
    </div> -->

    <!-- <div formArrayName="contatos" *ngFor="let contato of supplierForm.get('contatos').controls; let i = index">
        <div [formGroupName]="i">
            <input formControlName="dd" type="text" nbInput fullWidth placeholder="DD">
           
        </div>
    </div> -->

    <textarea formControlName="servico" rows="5" nbInput fullWidth shape="round" placeholder="Serviços"></textarea>

    <!-- Add other form controls here -->

    <button type="submit">Submit</button>
</form>

            
        </nb-card-body>
    </nb-card>
</div>